<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The HatTrick Platform</title>
  {{!-- font Awesome --}}
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  {{!-- CSS style sheets --}}
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">🏒</span>
        <a href="/" class="title is-1">The HatTrick Platform</a>
      </h1>
      <nav>
       
        <a href="/teams" class="button is-link">Teams</a>
        <a href="/players" class="button is-link">Players</a>
        
        {{!-- conditionally render link updates stats if the user is a coach --}}
        {{#if is_coach}}
        <a href="/stats">Manage Team</a>
        {{/if}}
        
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile"> My Profile</a> |
        <button class="no-button" id="logout" class="button is-danger">Logout</button>
        {{else}}
        <a href="/login" class="button is-primary">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    {{!-- I added a footer currently contains all dummy tags and fake info --}}
    <footer class="d-flex flex-column align-items-center" id="contactme">
      <div class="container-fluid d-flex justify-content-center">

        <!-- linkedin change this to something like FB or IG-->

        <a href="#" aria-hidden="true"><span class="visually-hidden"></span><i class="fab fa-facebook"></i></a>
        <!-- github -->

        <a href="#" aria-hidden="true"><span class="visually-hidden"></span><i
            class="social-icon fab fa-github"></i></a>
        <!-- email icon -->

        <a href="mailto:hattricksplatform@gmail.com" aria-hidden="true"><span class="visually-hidden"></span><i
            class="social-icon fas fa-envelope"></i></a>
        <!-- phone number icon -->

        <a href="tel: +1-952-555-5555" aria-hidden="true"><span class="visually-hidden"></span><i class="social-icon fas fa-phone"></i></a>
      </div>
      <p class="footer-p">© Copyright 2021 HatTricks LLC</p>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>