<div class="box has-text-centered title is-2">
  Coach Profile
</div>

<div class="columns">
    <div class="column is-one-third">
        <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://source.unsplash.com/1280x960/?refree" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-3 has-text-centered" id="firstName-playerP">Demetrius</p>
                    <p class="title is-3 has-text-centered" id="lastName-playerP">Vandersnoot</p>
                </div>
            </div>
        </div>
  </div>
</div>

<div class="column is-two-fifths ml-4">
    <p class="title is-4 mt-6">Team: <span id="teamName-playerP">San Francisco Freeze Babies</span></p>
    <p class="title is-4">Jersey #: <span id="jerseyNumber-playerP">22</span></p>
    <p class="title is-4 mt-6">Favorite NHL Team: <span id="faveTeam-playerP">Kentucky Bourbons</span></p>
    <p class="title is-4">Favorite Player:<span id="favePlayer-playerP">Kip Gibberfold</span></p>
</div>

<div class="column mt-5">
    <div class="buttons">
        <button class="button is-fullwidth is-primary">Edit Profile</button>
        <button class="button is-fullwidth is-secondary">Manage Team</button>
    </div>
</div>
</div>

<!-- javascript file-->
<script src="/javascript/playerProfile.js"></script>
