{{!-- just need something in here to render homepage --}}
<div>
    <img src="/images/rink.jpg" alt="">
    <div class="motto">
        <h2>Organize. Stay Current. Get Pumped.</h2>
        <button><a href="/signup">Create an Account</a></button>
    </div>
</div>